<section class="wrapper">
  <div class="content">
    <form class="form">
      <div class="form__header">
        <h2>Let's write your thoughts</h2>
        <p>Sign up / Log in</p>
      </div>

      <div class="form__options">
        <div>
          <p>Continue with Google</p>
        </div>
        <div>
          <p>Continue with Twitter</p>
        </div>
      </div>

      <div class="form__divider">
        <hr />
        <p>Or sign in using a magic link</p>
      </div>

      <app-input type="text" placeholder="Enter your email"></app-input>
      <app-input type="submit" value="Submit"></app-input>
    </form>
  </div>
</section>
