// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(mat.$indigo-palette);
$client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.define-light-theme( ( color: ( primary: $client-primary, accent: $client-accent, warn: $client-warn, ), ));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: var(--light-1);
    font-family: "poppins";
}

body {
    background-color: var(--dark-2);
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// custom css
input,
button {
    padding: 0.7em;
    background: none;
    border: none;
    border-radius: var(--radius-5);
}

input {
    border: 0.2px var(--dark-2) solid;
    background: var(--dark-1);
}

button {
    background-color: var(--blue-1);
    &:hover {
        opacity: 90%;
        cursor: pointer;
    }
}

:root {
    --dark-1: #2a2d33;
    --dark-2: #23262e;
    --blue-1: #5f85db;
    --blue-2: #90b8f8;
    --light-1: #f0f0f1;
    --radius-5: 5px;
    --radius-10: 10px;
}

// utilities
.wrapper {
    margin: 0 13em 0 13em;
}

img {
    width: 100%;
    height: auto;
}