main {
    height: 100vh;
    font-family: sans-serif;
    display: grid;
    place-items: center;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
            width: 100%;
            height: auto;
            max-width: 20em;
        }
        h1 {
            margin: -0.5em 0.7em 0 0;
            color: #3f3d4d;
            font-size: 4rem;
        }
    }
}