<section>
  <div class="wrapper">
    <div class="content">
      <div>
        <h2>Create Post</h2>
        <div>
          <div class="link">
            <app-icon [icon]="'edit'" title="Edit"></app-icon>
            <p>Edit</p>
          </div>
          <div class="link">
            <app-icon [icon]="'remove_red_eye'" title="Preview"></app-icon>
            <p>Preview</p>
          </div>
        </div>
      </div>

      {{ form.value | json }}
      <form class="form" [formGroup]="form">
        <div class="form__header">
          <div class="form__buttons">
            <app-input
              type="button"
              value="Add cover"
              modifyFor="outline"></app-input>
            <app-input
              type="button"
              value="Add tags"
              modifyFor="outline"></app-input>
          </div>

          <div *ngIf="!form.get('thumbnail')" class="image-wrapper">
            <div class="image-container">
              <img
                [src]="form.get('thumbnail')"
                *ngIf="form.get('thumbnail')"
                alt="thumbnail" />
            </div>

            <div>
              <app-input type="button" value="Change"></app-input>
              <app-input
                type="button"
                value="Remove"
                modifyFor="outline"></app-input>
            </div>
          </div>
        </div>

        <div class="form__body">
          <app-input
            type="text"
            name="title"
            required="true"
            placeholder="Blog post title"
            [control]="$any(form.get('title'))"
            modifyFor="fs-3">
          </app-input>
          <app-markdown required="true"></app-markdown>
          <footer>
            <app-input
              (click)="post($event)"
              type="button"
              value="Publish"></app-input>
            <app-input
              type="button"
              value="Publish"
              modifyFor="outline"
              disabled="!form.valid"></app-input>
          </footer>
        </div>
      </form>
    </div>
  </div>
</section>
