<section>
    <div class="wrapper">
        <div class="content">
            <div>
                <h2>Create new post</h2>
                <div>
                    <div class="link">
                        <app-icon [icon]="'edit'" title="Edit"></app-icon>
                        <p>Edit</p>
                    </div>
                    <div class="link">
                        <app-icon [icon]="'remove_red_eye'" title="Preview"></app-icon>
                        <p>Edit</p>
                    </div>
                </div>
            </div>

            <form>
                <div class="header">
                    <angular-markdown-editor textareaId="editor1" name="markdownText" ngModel="markdownText" (onChange)="onChange($event)">
                    </angular-markdown-editor>
                    <app-button *ngIf="form.get('banner')" [name]="'Add a cover image'" type="outline"></app-button>

                    <div *ngIf="!form.get('banner')" class="image-wrapper">
                        <div class="image-container">
                            <img [src]="form.get('banner')" *ngIf="form.get('banner')" alt="banner" />
                        </div>

                        <div>
                            <app-button [name]="'Change'"></app-button>
                            <app-button [name]="'Remove'" type="outline"></app-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
