section .content {
  display: grid;
  margin-bottom: 2em;

  > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      display: inline-flex;
      gap: 1em;
    }
  }

  .form {
    display: block;
    &__header {
      margin-bottom: 1em;
      .form__buttons {
        // @include flexbox();
        display: flex;
        gap: 1em;
        margin-top: 2em;
      }
    }

    &__body {
      margin-top: 2em;
      display: grid;
      grid-gap: 2em;

      .input {
        display: grid;
        grid-gap: 1em;
      }
    }

    footer {
      display: flex;
      gap: 1em;
      > * {
        flex-grow: 1;
      }
    }
  }
}
