<main>
  <div class="wrapper">
    <div class="content">
      <ul class="sidebar">
        <li>
          <app-icon [icon]="'home_border'"></app-icon>
          Home
        </li>
        <li>
          <app-icon [icon]="'collections_bookmark'"></app-icon>
          Readling List
        </li>
        <li>
          <app-icon [icon]="'view_list'"></app-icon>
          Listings
        </li>
        <li>
          <app-icon [icon]="'headset_mic'"></app-icon>
          Podcasts
        </li>
        <li>
          <app-icon [icon]="'video_library'"></app-icon>
          Videos
        </li>
        <li>
          <app-icon [icon]="'code'"></app-icon>
          Code Snippets
        </li>
        <li>
          <app-icon [icon]="'book'"></app-icon>
          Guides
        </li>
        <li>
          <app-icon [icon]="'question_answer'"></app-icon>
          FAQ
        </li>
        <li>
          <app-icon [icon]="'perm_contact_calendar'"></app-icon>
          Contact
        </li>
      </ul>

      <div class="feed">
        <nav>
          <ul>
            <li>Relevant</li>
            <li>Latest</li>
            <li>Top</li>
          </ul>
        </nav>

        <div class="blogs">
          <app-card *ngFor="let post of testData" [blog]="post"></app-card>
        </div>
      </div>
      <div class="cards">
        <header>
          <h3>Listings</h3>
          <p>See all</p>
        </header>

        <div class="list">
          <div>
            <p>Junior/Mid Software Engineer - Immersive and Escape Rooms</p>
            <ul class="tags">
              <li>Jobs</li>
              <li>Jobs</li>
            </ul>
          </div>
          <div>
            <p>Junior/Mid Software Engineer - Immersive and Escape Rooms</p>
            <ul class="tags">
              <li>Jobs</li>
              <li>Jobs</li>
              <li>Jobs</li>
            </ul>
          </div>
          <div>
            <p>Junior/Mid Software Engineer - Immersive and Escape Rooms</p>
            <ul class="tags">
              <li>Jobs</li>
              <li>Jobs</li>
              <li>Jobs</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
