<app-navbar></app-navbar>
<main>
    <div class="wrapper">
        <div class="content">
            <ul class="sidebar">
                <li>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    Home
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    Readling List
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    Listings
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    Podcasts
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    News
                </li>
            </ul>
            <div class="feed">
                <nav>
                    <ul>
                        <li>Relevant</li>
                        <li>Latest</li>
                        <li>Top</li>
                    </ul>
                </nav>

                <div class="blogs">
                    <figure>
                        <img src="assets/images/blogpost.jpg" alt="blog" />
                        <div class="user">
                            <img src="assets/images/user.jpg" alt="blog" />
                            <h2>Edward Fernandez</h2>
                            <p>Oct 22 (Just now)</p>
                        </div>

                        <h1>Upgrade your Lerna Workspace - Make it Fast and Modern!</h1>
                        <div class="hashtags">
                            <p>#monorepo</p>
                            <p>#monorepo</p>
                            <p>#monorepo</p>
                        </div>
                        <div class="actions">
                            <div>
                                <p>1 Reaction</p>
                            </div>
                            <div>
                                <p>Add Comment</p>
                            </div>
                            <div>
                                <p>3 min read</p>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="cards"></div>
        </div>
    </div>
</main>