@import './src/assets/scss/abstracts/variables';
button {
  background-color: $color-blue-400;
  color: $color-black-400;
  width: 100%;
  &:hover {
    opacity: 90%;
    cursor: pointer;
  }
  &.outline {
    background-color: unset;
    border: 1px $color-blue-400 solid;
    color: $color-blue-400;
    &:hover {
      background-color: $color-blue-400;
      color: $color-black-400;
    }
  }
}
