<markdown-toolbar for="markup" class="markdown">
  <md-bold>
    <app-icon [icon]="'format_bold'"></app-icon>
  </md-bold>
  <md-header>
    <app-icon [icon]="'format_size'"></app-icon>
  </md-header>
  <md-italic>
    <app-icon [icon]="'format_italic'"></app-icon>
  </md-italic>
  <md-quote>
    <app-icon [icon]="'format_quote'"></app-icon>
  </md-quote>
  <md-code>
    <app-icon [icon]="'code'"></app-icon>
  </md-code>
  <md-link> <app-icon [icon]="'link'"></app-icon> </md-link>
  <md-image>
    <app-icon [icon]="'insert_photo'"></app-icon>
  </md-image>
  <md-unordered-list>
    <app-icon [icon]="'format_list_bulleted'"></app-icon>
  </md-unordered-list>
  <md-ordered-list>
    <app-icon [icon]="'format_list_numbered'"></app-icon>
  </md-ordered-list>
  <md-task-list>
    <app-icon [icon]="'format_line_spacing'"></app-icon>
  </md-task-list>
  <md-mention>
    <app-icon [icon]="'alternate_email'"></app-icon>
  </md-mention>
  <md-ref>
    <app-icon [icon]="'loyalty'"></app-icon>
  </md-ref>
</markdown-toolbar>
<textarea id="markup"></textarea>
<!-- <app-input
  type="textarea"
  name="markup"
  id="markup"
  placeholder="Content here..."
  modifyFor="pxy-3">
</app-input> -->
