<figure class="card">
    <div class="content">
        <div class="card__image">
            <div class="user">
                <img src="assets/images/user.jpg" alt="blog" />
                <div class="text">
                    <h3>Edward Fernandez</h3>
                    <p class="o-70">@wardvisual</p>
                </div>
            </div>
            <img src="assets/images/banner-2.jpg" alt="banner" />
        </div>
        <div class="card__details">
            <p class="o-80">02 December 2021</p>
            <h2>Building your own form fields the ...</h2>
            <!-- Software engineer so far -->
            <p class="o-80">
                Angular forms are powerful and, well known, can be used in a way that greatly simplify your own forms by also improving the reusability of your components.
            </p>
            <ul class="tags">
                <li>Web Dev</li>
                <li>Javascript</li>
                <li>Angular</li>
            </ul>

            <div class="card__footer o-80 select-1">
                <p class="link">
                    <mat-icon class="icon">favorite_border</mat-icon>
                    10 Reactions
                </p>
                <p class="link">
                    <mat-icon class="icon">chat_bubble_outline</mat-icon>
                    Comment
                </p>
                <p class="link">
                    <mat-icon class="icon">bookmark_border</mat-icon>
                    Save
                </p>
            </div>
        </div>
    </div>
</figure>
