@import './src/assets/scss/abstracts/variables';
figure {
  width: 100%;
  .content {
    background-color: $color-black-300;
    border-radius: $radius-10;
    position: relative;
    max-width: 40em;
    min-height: 28em;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1563px) {
      max-width: unset;
      flex-direction: column;
      .card__image {
        position: unset !important;
        max-width: unset !important;
        background: unset !important;
        padding: 1em !important;
        margin-bottom: unset !important;
        flex-direction: column-reverse !important;
        box-shadow: unset !important;
      }
      .card__details {
        max-width: unset !important;
      }
      .user {
        margin-bottom: unset !important;
      }
    }
    .card__image {
      position: absolute;
      max-width: 30em;
      right: -16em;
      background-color: $color-black-400;
      border-radius: $radius-10;
      box-shadow: $shadow-1;
      padding: 2em;
      display: flex;
      flex-direction: column;
      gap: 1em;
      img {
        object-fit: contain;
        border-radius: $radius-10;
        box-shadow: $shadow-1;
        &:hover {
          cursor: pointer;
        }
        &:active {
          transform: scale(1.005);
        }
      }
      .user {
        display: flex;
        align-items: center;
        gap: 1em;
        border-radius: $radius-10;
        cursor: pointer;
        img {
          max-width: 3em;
          border-radius: 100%;
        }
        .text {
          display: flex;
          flex-direction: column;
          p {
            margin-top: -0.4em;
            font-size: 14px;
          }
        }
      }
    }
    .card__details {
      padding: 1.5em;
      max-width: 26em;
      position: relative;
      h2 {
        margin-top: 0.2em;
        font-weight: bold;
        line-height: 1.2;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .tags {
        display: inline-flex;
        margin-top: 1em;
        li {
          margin-right: 0.2em;
          background: $color-black-400;
          padding: 0.2em 1em 0.2em 1em;
          border-radius: $radius-5;
          font-size: 14px;
        }
      }
      .card__footer {
        margin-top: 2em;
        display: flex;
        gap: 0.2em;
        @media #{$media-mobile} {
          justify-content: space-between;
        }
        @media #{$media-mobile-sm} {
          p {
            font-size: 10px;
          }
          .icon {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
