<figure class="card">
  <div class="content">
    <div class="card__image">
      <div class="user">
        <img src="{{ blog.user.avatar }}" alt="blog" />
        <div class="text">
          <h3>{{ blog.user.name }}</h3>
          <p class="o-70">@{{ blog.user.username }}</p>
        </div>
      </div>
      <img src="assets/images/banner-2.jpg" alt="banner" />
    </div>
    <div class="card__details">
      <p class="o-80">{{ blog.date }}</p>
      <h2>{{ blog.title }}</h2>
      <p class="o-80">
        {{ blog.description }}
      </p>
      <ul class="tags" *ngFor="let tag of blog.tags">
        <li>{{ tag }}</li>
      </ul>
      <div class="card__footer o-80 select-1">
        <p class="link">
          <app-icon
            [icon]="'favorite_border'"
            [style]="{ marginTop: '.2em' }"></app-icon>
          {{ blog.stats.reactions }} Reactions
        </p>
        <p class="link">
          <app-icon
            [icon]="'chat_bubble_outline'"
            [style]="{ marginTop: '.2em' }"></app-icon>
          Comment
        </p>
        <p class="link">
          <app-icon
            [icon]="'bookmark_border'"
            [style]="{ marginTop: '.2em' }"></app-icon>
          Save
        </p>
      </div>
    </div>
  </div>
</figure>
