<!-- Textarea -->
<textarea
  *ngIf="type === 'textarea'"
  [placeholder]="placeholder"
  name="name"
  [value]="value"
  [class]="inputFor"
  (onchange)="handleOnChange($event)"></textarea>

<!-- Text -->
<div *ngIf="type === 'text'" [class]="type">
  <app-icon *ngIf="iconLeft" [icon]="iconLeft"></app-icon>
  <input
    [type]="type"
    [placeholder]="placeholder"
    [class]="inputFor"
    [name]="name"
    [value]="value"
    (onchange)="handleOnChange($event)"
    (onclick)="handleOnClick($event)" />
  <app-icon *ngIf="iconRight" [icon]="iconRight"></app-icon>
</div>

<!-- Button -->
<div *ngIf="type === 'button'" [class]="type">
  <app-icon *ngIf="iconLeft" [icon]="iconLeft"></app-icon>
  <input
    [type]="type"
    [placeholder]="placeholder"
    [class]="inputFor + ' button'"
    [name]="name"
    [value]="value"
    (onclick)="handleOnClick($event)"
    [routerLink]="routerLink"
    [routerLinkActive]="routerLinkActive" />
  <app-icon *ngIf="iconLeft" [icon]="iconLeft"></app-icon>
</div>
