<!-- Textarea -->
<textarea
  *ngIf="type === 'textarea'"
  [placeholder]="placeholder"
  [name]="name"
  [required]="required ? true : false"
  [disabled]="disabled ? true : false"
  [id]="id"
  [value]="value"
  [class]="modifyFor"></textarea>

<!-- Text -->
<div *ngIf="type === 'text'" [class]="type">
  <app-icon *ngIf="iconLeft" [icon]="iconLeft"></app-icon>
  <input
    [type]="type"
    [placeholder]="placeholder"
    [class]="modifyFor"
    [name]="name"
    [required]="required ? true : false"
    [disabled]="disabled ? true : false"
    [id]="id"
    [value]="value"
    [formControl]="control"
    (onchange)="handleOnChange($event)"
    (onclick)="handleOnClick($event)" />
  <app-icon *ngIf="iconRight" [icon]="iconRight"></app-icon>
</div>

<!-- Button -->
<div *ngIf="type === 'button' || type === 'submit'" class="button">
  <app-icon *ngIf="iconLeft" [icon]="iconLeft"></app-icon>
  <input
    [type]="type"
    [placeholder]="placeholder"
    [class]="!modifyFor ? 'primary' : modifyFor"
    [name]="name"
    [id]="id"
    [value]="value"
    [disabled]="disabled ? true : false"
    (onclick)="handleOnClick($event)"
    [routerLink]="routerLink"
    [routerLinkActive]="routerLinkActive" />
  <app-icon *ngIf="iconLeft" [icon]="iconLeft"></app-icon>
</div>
