<!-- Textarea -->
<div *ngIf="type === 'textarea'" class="input">
  <textarea
    name="name"
    [placeholder]="placeholder"
    [class]="inputFor"></textarea>
</div>

<!-- Text -->
<div *ngIf="type === 'text'" class="input">
  <app-icon *ngIf="iconLeft" [icon]="iconLeft"></app-icon>
  <input
    [type]="type"
    [placeholder]="placeholder"
    [class]="inputFor"
    [name]="name"
    [value]="value"
    (onchange)="handleOnChange($event)"
    (onclick)="handleOnClick($event)" />
  <app-icon *ngIf="iconRight" [icon]="iconRight"></app-icon>
</div>
