<section>
    <div class="wrapper">
        <div class="content">
            <h2>Create new post</h2>
            <form>
                <div class="header">
                  <button class="outlined">Add a cover image</button>
                  <div class="input">
                    <input type="text" placeholder="Blog post title" />
                    <input type="text" placeholder="Add up to 4 tags.." />
                  </div>
                </div>
            </form>
        </div>
    </div>
</section>
