@import './src/assets/styles/variables';
section {
    .content {
        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            >div {
                display: flex;
                align-items: center;
                gap: 1em;
            }
        }
        form {
            display: grid;
            grid-gap: 1em;
            margin-top: 1em;
            border-radius: var(--radius-10);
            background: var(--color-dark-1);
            .header {
                padding: 4em;
                display: grid;
                grid-gap: 2em;
                label.outlined {
                    max-width: max-content;
                }
                input[type='file'] {
                    display: none;
                }
                .image-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 2em;
                    >div:first-child {
                        background: var(--color-dark-2);
                        width: 25em;
                        display: grid;
                        place-items: center;
                        padding: 0.5em;
                        img {
                            object-fit: contain;
                            max-width: 20em;
                            max-height: 12em;
                        }
                    }
                    >div:last-child {
                        display: flex;
                        align-items: center;
                        gap: 1em;
                    }
                    .remove {
                        cursor: pointer;
                        color: var(--color-red-1);
                    }
                }
                .editor-toolbar {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    grid-gap: 2.3em;
                    >* {
                        color: var(--color-blue-1);
                        transform: scale(1.3);
                    }
                }
                .controls {
                    display: flex;
                    gap: 2em;
                }
                .input {
                    display: grid;
                    input,
                    textarea {
                        background: var(--color-dark-2);
                        padding: 1em;
                        &:focus {
                            outline: none;
                        }
                    }
                    >textarea {
                        min-height: 20em;
                        max-width: 1360px;
                    }
                    >input:first-child {
                        font-size: 3rem;
                        font-weight: bold;
                    }
                    >textarea {
                        font-size: 1.5rem;
                    }
                    >input:last-child {
                        font-size: 1.2rem;
                    }
                }
                .select {}
            }
            @media #{$media-laptop} {
                .header {
                    padding: 2em;
                }
                input:first-child {
                    font-size: 2rem !important;
                }
                input:last-child {
                    font-size: 1.2rem !important;
                }
            }
            @media #{$media-mobile-sm} {
                .header {
                    padding: 1.5em 1em 1.5em 1em;
                }
                button.outlined {
                    max-width: unset !important;
                }
                input:first-child {
                    font-size: 1.4rem !important;
                }
                input:last-child {
                    font-size: 1rem !important;
                }
            }
            footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1em;
                >* {
                    flex-grow: 1;
                }
            }
        }
    }
}