@import "./src/styles/variables";

section {
  .content {
    form {
      display: grid;
      grid-gap: 1em;
      margin-top: 1em;
      border-radius: var(--radius-10);
      background: var(--color-dark-1);
      
      .header {
       padding: 4em;
       display: grid;
       grid-gap: 2em;

      button.outlined {
        max-width: 13em;
      }

      .input {
        display: grid;

        input{
          background: none;
          border: none;
          padding: unset;
          &:focus {
            outline: none;
          }
        }

        input:first-child {
          font-size: 3rem;
          font-weight: bold;

        }
        input:last-child {
          font-size: 1.2rem;
        }
       }
     }


      @media #{$media-laptop} {
        .header {
          padding: 2em;
        }

        input:first-child {
          font-size: 2rem!important;
        }

        input:last-child {
          font-size: 1.2rem!important;
        }
      }

      @media #{$media-mobile-sm} {
        .header {
          padding: 1.5em 1em 1.5em 1em;
        }

        button.outlined {
          max-width: unset!important;
        }

        input:first-child {
          font-size: 1.4rem!important;
        }

        input:last-child {
          font-size: 1rem!important;
        }
      }
    }
  }
}