<nav>
  <div class="wrapper">
    <div class="content">
      <div class="left">
        <div class="menu">
          <app-icon [icon]="'menu'"></app-icon>
        </div>
        <div [routerLink]="'/'" class="logo">
          <img src="assets/logos/logo.svg" alt="logo" />
        </div>
        <app-input
          type="text"
          name="search"
          id="search"
          placeholder="Search..."
          modifyFor="search"
          iconRight="search_outline">
        </app-input>
      </div>
      <div class="right">
        <div class="actions">
          <app-input
            type="button"
            value="Create Post"
            modifyFor="primary"
            routerLink="new"
            routerLinkActive="active">
          </app-input>
          <div class="input icon-only">
            <input
              type="text"
              name="search"
              id="search"
              [placeholder]="'Search...'" />
            <app-icon [icon]="'search_outline'"></app-icon>
          </div>
          <div>
            <app-icon [icon]="'notifications'"></app-icon>
          </div>
          <div class="user">
            <img src="assets/images/user.jpg" alt="user" />
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
