nav {
    box-shadow: rgba(17, 22, 28, 0.2) 0px 8px 24px;
    padding: 0.5em 0 0.5em 0;
}

nav .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .content .left {
    display: flex;
    align-items: center;
    gap: 1em;
}

nav .content .left .logo img {
    max-width: 3em;
}

nav .content .right .actions {
    display: flex;
    align-items: center;
    gap: 1em;
}

nav .content .right .actions .user img {
    max-width: 3em;
    border-radius: 100%;
    cursor: pointer;
}