*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: var(--color-light-1);
    font-family: "poppins";
}

body {
    background-color: var(--color-dark-2);
    line-height: 1.8;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
button {
    padding: .4em 0.7em .4em 0.7em;
    background: none;
    border: none;
    border-radius: var(--radius-5);
    width: 100%;
}

input {
    border: 0.8px #313439 solid;
    background: var(--color-dark-2);
}

button {
    background-color: var(--color-blue-1);
    &:hover {
        opacity: 90%;
        cursor: pointer;
    }
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}
