* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: var(--light-1);
    font-family: "poppins";
}

body {
    background-color: var(--dark-2);
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// custom css
input,
button {
    padding: 0.7em;
    background: none;
    border: none;
    border-radius: var(--radius-5);
}

input {
    border: 0.2px var(--dark-2) solid;
    background: var(--dark-1);
}

button {
    background-color: var(--blue-1);
    &:hover {
        opacity: 90%;
        cursor: pointer;
    }
}

:root {
    --dark-1: #2a2d33;
    --dark-2: #23262e;
    --blue-1: #5f85db;
    --blue-2: #90b8f8;
    --light-1: #f0f0f1;
    --radius-5: 5px;
    --radius-10: 10px;
}

// utilities
.wrapper {
    margin: 0 13em 0 13em;
}

img {
    width: 100%;
    height: auto;
}
