// utilities
.wrapper {
  width: 100%;
  max-width: 97em;
  margin: 0 auto;
  padding: 0 2em 0 2em;
  @media #{$media-desktop} {
  }
  @media #{$media-laptop} {
    max-width: unset;
  }
  @media #{$media-mobile-sm} {
    max-width: unset;
    padding: 0 1em 0 1em;
  }
  @media screen and (max-width: 775px) {
    // padding: 0 0.5em 0 0.5em;
    padding: 0 1.2em 0 1.2em;
  }
}
$opacities: 10, 20, 30, 40, 50, 60, 70, 80, 90;

@each $opacity in $opacities {
  .o-#{$opacity} {
    opacity: #{$opacity} + '%';
  }
}

.mt-6 {
  margin-top: 6em;
}

.mt-5 {
  margin-top: 5em;
}

.p-xy-1 {
  padding: 1em;
}

.p-x-1 {
  padding: 0 1em 0 1em;
}

.p-y-1 {
  padding: 1em 0 1em 0;
}

.select-1 {
  user-select: none;
}

// text
.fsz-3 {
  font-size: 3em;
}

// bg
.bg-black-100 {
  background: $color-black-100;
}
.bg-black-200 {
  background: $color-black-200;
}
.bg-black-300 {
  background: $color-black-300;
}
.bg-black-400 {
  background: $color-black-400;
}

.link {
  padding: 0.5em;
  min-width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  user-select: none;
  color: $color-blue-400;
  border-radius: $radius-5;
  .icon {
    color: $color-blue-400;
  }
  &:active {
    transform: scale(0.9);
  }
  &:hover {
    background: $color-black-400;
  }
}

.tags {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  li {
    background: $color-blue-400;
    padding: 0.2em 1em 0.2em 1em !important;
    border-radius: $radius-5;
    font-size: 14px;
  }
}

.input {
  display: flex;
  gap: 1em;
  cursor: pointer;
  position: relative;
  .icon {
    position: absolute;
    transform: scale(1.4);
    right: 1em;
    top: 0.4em;
  }
}

.input.icon-only {
  .icon {
    position: unset;
  }
}
