/*
  Colors
*/

// Black
$color-black-100: #535a6b;
$color-black-200: #393e4a;
$color-black-300: #2a2d33;
$color-black-400: #23262e;
// Blue
$color-blue-100: #a2c5fe;
$color-blue-200: #91b1fa;
$color-blue-300: #769df6;
$color-blue-400: #6690ee;
// White
$color-white-100: #d7d7d7;
$color-white-200: #dedede;
$color-white-300: #e7e7e7;
$color-white-400: #f0f0f1;

/*
  Radius
*/

$radius-3: 3px;
$radius-5: 5px;
$radius-10: 10px;

/*
  Shadow
*/

$shadow-1: rgba(17, 22, 28, 0.2) 0px 8px 24px;
