/*
  Colors
*/

// Black
$color-black-100: #222d44;
$color-black-200: #1a2233;
$color-black-300: #232530;
$color-black-400: #1d1f2a;
// Blue
$color-blue-100: #456584;
$color-blue-200: #5c88b1;
$color-blue-300: #6ea3d4;
$color-blue-400: #87c5ff;
// White
$color-white-100: #778694;
$color-white-200: #93a4b5;
$color-white-300: #a9bdcf;
$color-white-400: #bdd3e7;

/*
  Radius
*/

$radius-3: 3px;
$radius-5: 5px;
$radius-10: 10px;

/*
  Shadow
*/

$shadow-1: rgba(35, 45, 57, 0.2) 0px 8px 24px;

/*
  Media Queries
*/

$media-desktop: 'only screen and (min-width: 1400px)';
$media-laptop: 'only screen and (max-width: 1142px)'; //
$media-tablet: 'only screen and (max-width: 768px)';
$media-mobile: 'only screen and (max-width: 775px)'; //
$media-mobile-sm: 'only screen and (max-width: 480px)';
